<div class="login_parent">
  <form
    *ngIf="!isLoading"
    class="login_form"
    [formGroup]="loginForm"
    (ngSubmit)="submit()"
    novalidate
  >
    <div class="mb-3 login_text">Login</div>
    <div class="mb-3">
      <lib-input-box
        label="User Name"
        placeHolder="Enter Your Name"
        [control]="loginForm.controls.name"
      />
    </div>

    <div class="mb-3">
      <lib-input-box
        label="Your Eamil"
        placeHolder="simple@gmail.com"
        type="email"
        [onSubmitted]="showValidate"
        [isReadOnly]="true"
        [control]="loginForm.controls.email"
      />
    </div>

    <div class="mb-3">
      <lib-input-box
        label="Your Phone Number"
        placeHolder="09#########"
        type="number"
        [onSubmitted]="showValidate"
        [control]="loginForm.controls.phone"
        [validatePatternMessage]="'Please Fill Start with 09 number'"
      />
    </div>

    <div class="mb-3">
      <lib-input-box
        label="Password"
        placeHolder="Enter Your Password"
        type="password"
        [onSubmitted]="showValidate"
        [control]="loginForm.controls.password"
      />
    </div>

    <div class="mb-3">
      <lib-button
        buttonText="Log In"
        (buttonClick)="submit()"
        buttonPadding="10px"
        buttonHeight="40px"
        [buttonColor]="buttonColor.primary"
        [buttonRadius]="buttonRadius.normal"
      />
    </div>

    <div class="mb-3">
      <lib-button
        buttonText="Creat Account"
        (buttonClick)="submit()"
        buttonPadding="10px"
        buttonHeight="40px"
        [buttonColor]="buttonColor.secondary"
        [buttonRadius]="buttonRadius.normal"
      />
    </div>

    <!-- <div class="mb-3">
      <lib-nrc-box label="NRC Number" />
    </div> -->
    <!-- <button type="submit" class="btn btn-primary w-100">Log In</button> -->
  </form>
  <ng-lottie *ngIf="isLoading" [options]="options"></ng-lottie>
</div>
